<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>My Love</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <h1>About You</h1>
    <h2>... My special people in my life!</h2>

    <p>
      Kamu adalah seseorang yang menyadarkan ku untuk berjuang. Jadi orang yang
      selalu membuat hari ku berbeda.
    </p>

    <p>
      Wanita spesial bagiku, yang selalu membucinkan hidupku, menjadikan tenang
      hatiku
    </p>
  </body>
</html>
